#tags {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 100%;
  margin-bottom: 30px;
}

.tag {
  text-align: center;
  background-color: #ff6060;
  border-radius: 5px;
  padding: 2%;
  & p {
    margin: 0;
    font-size: 18px;
    color: #ffffff;
  }
}
@media screen and (max-width: 768px) {
  #tags {
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    margin-bottom: 0;
  }
  .tag {
    max-width: 84px;
    & p {
      font-size: 10px;
    }
  }
}
