h7 {
    font-size: 288px;
    font-weight: 700;
}

.page404Section {
    text-align: center;
    padding: 100px 0;
    color: rgb(241, 88, 88);
}

.page404Section p {
    font-size: 36px;
    margin-bottom: 200px;
}

.backHomeLink {
    font-size: 18px;
    text-decoration: underline;
    color: rgb(241, 88, 88);
}