.titre404 {
    font-size: 288px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 20px;
}

.page404Section {
    text-align: center;
    color: rgb(241, 88, 88);
}

.page404Section p {
    font-size: 36px;
}

.backHomeLink {
    font-size: 18px;
    text-decoration: underline;
    color: rgb(241, 88, 88);
}